html 
    head
        title  Movies
        style 
            include ../css/style.css

body 
    include ../partials/header
    div#movies
        h1 Movies: 
        each movie in movies 
            a(href='/movies/'+ movie._id) #{movie.Title}
            br
        br
        if current > 1
            - let url = "/movies?page=" + (current-1)
            - if(qstring.length > 0){ url += "&" + qstring; }
            a(href=url) Previous
            | 
        - url = "/movies?page=" + (current+1)
        - if(qstring){ url += "&" + qstring; }
        a(href=url) Next