html 
    head
        title  Sign In/Up
        style 
            include ../css/style.css

body 
    include ../partials/header
    div#main
    //- form(action="/signUp" method="POST")
    //- formaction="/elsewhere"
    form(action="/signInUp" method="POST") 
        p UserName: 
            input(type='text' name='username')
        p Password: 
            input(type='text' name='password')
        button(type=submit) Sign In
        br
        button(type=submit formaction="/signUp") Sign Up 
    