div#header
    a(href="/") Home 
    |
    |
    a(href="/profile") Profile
    |
    |
    a(href="/signInUp") Sign In/Up
    |
    |
    a(href="/search") Search 
    |
    |
    a(href="/contribute") Contribute